# OpenWeather API Key
OPENWEATHERMAP_API_KEY=ab7895231ee318d1576d084ce8e3fdd5

# Clerk Configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YnJpZ2h0LWdudS04MC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_nXT2Ajj36Y8dINKZQ63kddvohOQNDgRN6wlWiBdtpX

# Redirect URL after sign in or sign up
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/home
